<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Admin Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
 <div class="p-2" align="center">
  <h5>Pozdrav <span th:utext="${userName}"></span>, ovo je Admin Stranica.</h5>
  </div>
  
 <table class="table table-borderless">
 <tbody>
   <tr>
  	<td scope="col">
  	 <a th:href="@{/admin/signup}" class="btn-primary btn-lg btn-block" role="button" aria-pressed="true">Dodaj Novog Korisnika</a>
  	</td>
  	<td scope="col">
  	 <a th:href="@{/user/alltransactions}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pregled Transakcija</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  		<a th:href="@{/admin/createelement}" class="btn-info btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Element</a>
  	</td>
  	<td scope="col">
  		<a th:href="@{/admin/createmeasure}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Mjernu Jedinicu</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  <a th:href="@{/admin/createproduct}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Proizvod</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/admin/createcarmodel}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Model Automobila</a>
  	</td>
  	</tr>
  	  	<tr>
  	<td scope="col">
  <a th:href="@{/admin/createproduct}" class="btn-info btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Auto Dio u Bazi</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/admin/allusers}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pregled Korisnika</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  <a th:href="@{/admin/searchusers}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Pronađi Korisnika</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/admin/loggedUsers}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Logovani Korisnici</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  <a th:href="@{/admin/allrequests}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Zahtjevi Šifri</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/home/allposts}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Oglasi Korisnika</a>
  	</td>
  	</tr>  	
 </tbody>
  </table>
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>