<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Admin Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
 <div class="p-2" align="center">
  <h5>Pozdrav <span th:utext="${userName}"></span>, ovo je Admin Stranica.</h5>
  </div>
  
 <table class="table table-borderless">
 <tbody>
   <tr>
  	<td scope="col">
  	 <a th:href="@{/registration}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Dodaj Novog Korisnika</a>
  	</td>
  	<td scope="col">
  	 <a th:href="@{/home/allorders}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pregled Radnih Naloga</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  		<a th:href="@{/admin/createelement}" class="btn-info btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Element</a>
  	</td>
  	<td scope="col">
  		<a th:href="@{/admin/createmeasure}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Mjernu Jedinicu</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  <a th:href="@{/admin/createproduct}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Kreiraj Proizvod</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/home/allelements}" class="btn-danger btn-lg btn-block" role="button" aria-pressed="true">Pregled Elemenata</a>
  	</td>
  	</tr>
  	  	<tr>
  	<td scope="col">
  <a th:href="@{/home/allproducts}" class="btn-warning btn-lg btn-block" role="button" aria-pressed="true">Pregled Proizvoda</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/admin/allusers}" class="btn-info btn-lg btn-block" role="button" aria-pressed="true">Pregled Korisnika</a>
  	</td>
  	</tr>
  	<tr>
  	<td scope="col">
  <a th:href="@{/admin/createlist}" class="btn-success btn-lg btn-block" role="button" aria-pressed="true">Kreiraj List Proizvoda</a>
  	</td>
  	<td scope="col">
  <a th:href="@{/home/alllists}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Pregled Listi Proizvoda</a>
  	</td>
  	</tr>	
 </tbody>
  </table>
 </div>
 
  <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>