<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Profil Radnog Naloga</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
       
      <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
         </div>
       </div>
 
 <table th:object="${order}" class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">ID Radnog Naloga:</th>
      <td><span th:text="*{id}"></span></td>
    </tr>
    <tr>
      <th scope="row">ID Liste Proizvoda:</th>
      <td><span th:text="${order.getPipeline().getId()}"></span></td>
    </tr>
    <tr>
      <th scope="row">Datum:</th>
      <td><span th:text="${#dates.format(order.created, 'dd-MM-yyyy HH:mm')}"></span></td>
    </tr>
    <tr>
      <th scope="row">Radna Pozicija:</th>
      <td><span th:text="*{workPosition}"></span></td>
    </tr>
   </tbody>
</table>

  <div class="container table-responsive" align="center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Šifra</th>
                <th scope="col">Naziv</th>
                <th scope="col">Količina po proizvodu</th>
                <th scope="col">Ukupno količina za radni nalog</th>                
                <th scope="col">Stanje na skladištu</th>
                <th scope="col">Veličina</th>                
                <th scope="col">Jedinica Mjere</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="element, elementStat : ${elementsList}">
                <td th:text="${element.sifra}">Sifra</td>
                <td th:text="${element.name}">Naziv</td>
                <td>
        			<span th:text="*{elementsQuantityList[__${elementStat .index}__].quantity}">Količina za proizvod</span>
        		</td>
        		<td>
        			<span th:text="*{totals[__${elementStat .index}__]}">Ukupno količina radni nalog</span>
        		</td>
                <td th:text="${element.quantity}">Stanje</td>
                <td th:text="${element.elementSize}">Veličina</td>                
                <td th:text="${element.getUnitMeasure().getName()}">Jedinica Mjere</td>   
            </tr>
        </tbody>
    </table>
  </div>  
       
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-primary" role="alert">
                 <form th:action="@{/admin/confirmorder}" th:object="${sampleInputs}" method="post">
      	   			<input type="hidden" th:field="*{prdId}" readonly="readonly"/>
        			<p><b>Količina proizvoda: </b></p><input type="number" th:field="*{quantity}" readonly="readonly"/>
    				<div class="p-1">
    					<input class="btn btn-success btn-block" type="submit" value="Potvrdi Radni Nalog"/>
					</div>
				</form>
              </div>
         </div>
       </div>
       
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>