<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Kreiraj Radni Nalog</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
       
      <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6 alert alert-primary">
              <h5>Kreiraj Radni Nalog</h5>
         </div>
       </div>
 
  <table th:object="${pipeline}" class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">ID Liste:</th>
      <td><span th:text="*{id}"></span></td>
    </tr>
    <tr>
      <th scope="row">Naziv Liste:</th>
      <td><span th:text="*{name}"></span></td>
    </tr>
    <tr>
      <th scope="row">Proizvodi u list:</th>
        <td>
        </td>
     </tr>
   </tbody>
</table>

  <div class="container table-responsive" align="center">

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Redni br.</th>    
      <th scope="col">ID - Naziv Proizvoda</th>
      <th scope="col">Dimenzije</th>      
      <th scope="col">Količina</th>
      <th scope="col">Napomena</th>      
      <th scope="col">Kupac</th>
      <th scope="col">Izmjena</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="product, productStat : ${productsList}">
    	<td><span th:text="${productStat.count} + '.'"></span>Redni broj</td>
        <th scope="row"><span th:text="${product.getId()} + ' - ' + ${product.getName()}">ID i naziv</span></th>
    	<td><span th:text="${product.productSize}">Dimenzije</span></td>        
        <td>
        	<span th:text="*{productsQuantityList[__${productStat .index}__].quantity}">Količina</span>
        </td>
        <td><span th:text="${productsQuantityList[__${productStat .index}__].comment}">Komentar</span></td>        
        <td><span th:text="${productsQuantityList[__${productStat .index}__].buyer}">Kupac</span></td>        
    </tr>
  </tbody>
</table>
  </div>  

     <form th:action="@{/admin/createorder}" th:object="${sampleInputs}" method="post">
      	 <input type="hidden" th:field="*{pipelineId}" readonly="readonly"/>
    				
    	<div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="workPosition">Radna Pozicija:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-resize-full"></i></div>
                         <input type="text" th:field="*{workPosition}" class="form-control" id="workPosition"
                                placeholder="Radna pozicija" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
    		
    	<div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="orderComment">RN Komentar:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-resize-full"></i></div>
                         <input type="text" th:field="*{orderComment}" class="form-control" id="orderComment"
                                placeholder="RN Komentar" required autofocus>
                     </div>
                 </div>
             </div>
         </div>		
         
          <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="orderPackaging">RN Packing:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-resize-full"></i></div>
                         <input type="text" th:field="*{orderPackaging}" class="form-control" id="orderPackaging"
                                placeholder="RN Packing" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="orderPrep">RN Priprema:</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-resize-full"></i></div>
                         <input type="text" th:field="*{orderPrep}" class="form-control" id="orderPrep"
                                placeholder="RN Priprema" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
    				<div class="p-1">
    				   	<input class="btn btn-success btn-block" type="submit" value="Kreiraj Radni Nalog"/>
    				
    				</div>
				</form>
              </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>