<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Izmjena Profila Korisnika</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- Changing user profile specifications in HomeController line 86 -->

<div th:include="fragments/header :: header"/></div>

 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/admin/editprofile}" th:object="${user}">
      <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     </div>
             </div>
         </div>
         <div class="p-3 row">
             <div class="col-md-3"></div>
                 <h5>Izmjena profila korisnika</h5>
         </div>
         
         <!-- KORISNIČKO IME  -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="userName">Korisničko Ime</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" th:field="*{userName}" class="form-control" id="userName"
                                placeholder="Korisničko ime" required autofocus>
                         <input type="hidden" th:field="*{id}" class="form-control" id="id">
                         <input type="hidden" th:field="*{password}" class="form-control" id="password">
                     </div>
                 </div>
             </div>
         </div>
         <!-- IME  -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Ime</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" th:field="*{name}" class="form-control" id="name"
                                placeholder="Ime" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- PREZIME  -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="lastName">Prezime</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                                placeholder="Preizime" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- EMAIL -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="email">Email</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-envelope-o"></i></div>
                         <input type="email" th:field="*{email}" class="form-control" id="email"
                                placeholder="name@gmail.com" required autofocus>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                         </span>
                 </div>
             </div>
         </div>
         
         <!-- ROLE -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="role">Role</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-suitcase"></i></div>
                    		<select th:field="*{role}">
    							<option th:value="'CLIENT'" th:text="KLIJENT"></option>
    							<option th:value="'ADMIN'" th:text="ADMIN"></option>
							</select>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- ACTIVE -->
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="active">Active</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group has-danger">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                    		<select th:field="*{active}" name="active" id="active">
    							<option value=1>1</option>
    							<option value=0>0</option>
							</select>
                     </div>
                 </div>
             </div>
         </div>
         
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Izmjeni</button>
             </div>
         </div>
     </form>
 </div>
 
      <div th:include="fragments/footer :: footer"/></div>
 
</body>
</html>