<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Element Profile - Add Quantity</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
 
  <table th:object="${element}" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Vrijednost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Šifra:</th>
      <td><span th:text="*{sifra}"></span></td>
    </tr>
    <tr>
      <th scope="row">Naziv:</th>
      <td><span th:text="*{name}"></span></td>
    </tr>
        <tr>
      <th scope="row">Veličina:</th>
      <td><span th:text="*{elementSize}"></span></td>
    </tr>
    <tr>
      <th scope="row">Mjerna jedinica:</th>
      <td><span th:text="*{unitMeasure.getUnitMeasureName()}"></span></td>
    </tr>
    <tr>
      <th scope="row">Trenutna količina potrebna za proizvod:</th>
      <td><span th:text="${elementQuantity.quantity}"></span></td>
    </tr>
  </tbody>
</table>
    
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">Količina elementa potrebna za proizvod:</th>
      <td>
      	<form th:action="@{/admin/elementquantity}" th:object="${sampleInputs}" method="post">
      	   	<input type="hidden" th:field="*{elmId}" readonly="readonly"/>
      	   	<input type="hidden" th:field="*{prdId}" readonly="readonly"/>
        	<input min="1" step="1" type="number" th:field="*{quantity}" placeholder="količina" required autofocus/>
    		<div class="p-1">
    			<input class="btn btn-success btn-block" type="submit" value="Dodaj"/>
    		</div>
		</form>
	  </td>
    </tr>
  </tbody>
</table>
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
   <!-- JavaScript to be activated if user clicks browser back button and takes it to the beginning of adding elements to the product-->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
 
</body>
</html>