<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Product Profile</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
 
  <table th:object="${product}" class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Dodaj ili oduzmi proizvodu u bazi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Šifra:</th>
      <td><span th:text="*{sifra}"></span></td>
    </tr>
    <tr>
      <th scope="row">Cijena:</th>
      <td><span th:text="*{price}"></span></td>
    </tr>
    <tr>
      <th scope="row">Količina na stanju:</th>
      <td><span th:text="${productQuantity.quantity}"></span></td>
    </tr>
  </tbody>
</table>
    
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">Količinu dodati:</th>
      <td>
      	<form th:action="@{/user/add}" th:object="${sampleInputs}" method="post">
      	   	<input type="hidden" th:field="*{id}" readonly="readonly"/>
        	<input min="1" step="1" type="number" th:field="*{quantity}" placeholder="količina" />
    		<input class="btn btn-success" type="submit" value="Dodaj"/>
		</form>
	  </td>
    </tr>
    <tr>
      <th scope="row">Količinu oduzeti:</th>
      	<td>
         	<form th:action="@{/user/remove}" th:object="${sampleInputs}" method="post">
      	   		<input type="hidden" th:field="*{id}" readonly="readonly"/>         
        		<input min="1" step="1" type="number" th:field="*{quantity}" placeholder="količina" />
    			<input class="btn btn-danger" type="submit" value="Oduzmi"/>
			</form>
	  	</td>
    </tr>
  </tbody>
</table>
 </div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>