<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>List of Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 </head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="p-2" align="center">
   <h5>Pregled svih korisnika</h5>
 </div>


  <div class="container table-responsive" align="center">
    <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Korisnik ID</th>
                <th scope="col">Email</th>
                <th scope="col">Ime</th>
                <th scope="col">Kreiran</th>
                <th scope="col">Korisničko Ime</th>
                <th scope="col">Aktivan</th>
                <th scope="col">Izmjena</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="user : ${listUsers}">
                <td th:text="${user.id}">Korisnik ID</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.name}">Ime</td>
                <td th:text="${#dates.format(user.created, 'dd-MM-yyyy HH:mm')}">Kreiran</td>
                <td th:text="${user.userName}">Korisničko Ime</td>                
                <td>
                	<a href="#" class="text-white btn " th:classappend="${user.active} == false ? btn-danger : btn-warning" th:text="${user.active} == false ? 'Isključen' : 'Aktivan'"></a>
                </td>                
                <td>
                	<a class="btn btn-success" th:href="@{'/admin/editprofile/' + ${user.id}}">Profil</a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>  
  
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>