<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Profil Radnog Naloga</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
       
      <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
         </div>
       </div>
   
  <div class="container table-responsive" align="center">
      
 <table th:object="${order}" class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">ID Radnog Naloga:</th>
      <td><span th:text="*{id}"></span></td>
    </tr>
    <tr>
      <th scope="row">ID Liste Proizvoda:</th>
      <td><span th:text="${order.getPipeline().getId()}"></span></td>
    </tr>
    <tr>
      <th scope="row">Datum:</th>
      <td><span th:text="${#dates.format(order.created, 'dd-MM-yyyy HH:mm')}"></span></td>
    </tr>
    <tr>
      <th scope="row">Radna Pozicija:</th>
      <td><span th:text="*{workPosition}"></span></td>
    </tr>
   </tbody>
</table>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Redni br.</th>    
      <th scope="col">ID - Naziv Proizvoda</th>
      <th scope="col">Dimenzije</th>      
      <th scope="col">Količina</th>
      <th scope="col">Napomena</th>      
      <th scope="col">Kupac</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="product, productStat : ${productsList}">
    	<td><span th:text="${productStat.count} + '.'"></span></td>
        <th scope="row"><span th:text="${product.getId()} + ' - ' + ${product.getName()}"></span></th>
    	<td><span th:text="${product.productSize}"></span></td>        
        <td>
        	<span th:text="*{productsQuantityList[__${productStat .index}__].quantity}">Stanje</span>
        </td>
        <td><span th:text="${productsQuantityList[__${productStat .index}__].comment}"></span></td>        
        <td><span th:text="${productsQuantityList[__${productStat .index}__].buyer}"></span></td>        
    </tr>
  </tbody>
</table>

 
  <table th:object="${order}" class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Napomena:</th>
      <td><span th:text="*{orderComment}"></span></td>
    </tr>
    <tr>
      <th scope="row">Pakovanje:</th>
      <td><span th:text="*{orderPackaging}"></span></td>
    </tr>
    <tr>
      <th scope="row">Priprema:</th>
        <td><span th:text="*{orderPrep}"></span></td>
     </tr>
   </tbody>
</table>

  </div>      
 </div>
    <div class="p-2" align="center">
    	<a th:href="@{/home/document.docx}" class="btn-danger btn-lg" role="button" aria-pressed="true">Kreiraj Word Dokument</a>
  	</div>
   	<div class="p-2" align="center">
    	 <a th:href="@{/home/allorders}" class="btn-info btn-lg" role="button" aria-pressed="true">Nova Pretraga Radnih Naloga</a>
  	</div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>