<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
 
<head>
 <title>Furniture Zaboravljena Lozinka</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<div th:include="fragments/header :: header"/></div>

<!-- Starting page to change user password - PasswordController lines 36 and 46 -->
<!-- It only works on LOCALHOST -->
<body>

<div class="container">
		<div class="p-2" align="center">
           <h5>Zaboravili ste lozinku ili vam treba nova lozinka?</h5>
               <p>Unesite vašu e-mail adresu da vam pošaljemo link za unos nove lozinke.</p>
               </div>
         
                <div class="p-2" align="center">
                               
					<div class="alert alert-danger" role="alert" th:if="${message}">
						<span th:utext="${message}"></span>
            		</div>
                            <form th:action="@{/forgot}" th:object="${sampleInputs}" method="post">
                                        <input id="email"
                                               class="form-control"
                                               placeholder="email address"
                                               th:field="*{email}"/>
                                <div class="p-3 form-group">
                                    <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                                </div>
                            </form>
                        </div>

                <div class="p-2" align="center">
                    Postojeći korisnik? <a th:href="@{/login}"class="btn btn-primary" role="button" aria-pressed="true">Prijava</a>
                </div>

            </div>
</body>

     <div th:include="fragments/footer :: footer"/></div>
</html>