<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
	<div th:fragment="header">
	    <!-- this is header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand font-weight-bold" th:href="@{/home/home}">YAP Database</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarText">
    	<ul class="navbar-nav mr-auto">
      	  <li class="p-1 nav-item active">
        	<a th:href="@{/user/client}" class="btn btn-primary active btn-block btn-lg" role="button" aria-pressed="true">Klijent<span class="sr-only">(current)</span></a>
      	  </li>
      	  <li class="p-1 nav-item">
        	<a th:href="@{/admin/adminPage}" class="btn btn-info active btn-block btn-lg" role="button" aria-pressed="true">Admin</a>
      	  </li>
      	  <li class="p-1 nav-item">
        	<a th:href="@{/user/alltransactions}" class="btn btn-success active btn-block btn-lg" role="button" aria-pressed="true">Pregled Transakcija</a>
      	  </li>
    	</ul>
    	<span class="p-1 navbar-text">
      		<a th:href="@{/home/homesearch}" class="btn btn-warning active btn-block btn-lg" role="button" aria-pressed="true">Pretraga Autodijelova</a>
    	</span>
  	  </div>
	</nav>
	
	    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</div>
 </body>
</html>