<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
  <body>
	<div th:fragment="header">
	    <!-- this is header -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand font-weight-bold" th:href="@{/home/home}">Furniture Database</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarText">
    	<ul class="navbar-nav mr-auto">
      	  <li class="p-1 nav-item active">
        	<a th:href="@{/home/clientPage}" class="btn btn-primary active btn-block btn-lg" role="button" aria-pressed="true">Priprema<span class="sr-only">(current)</span></a>
      	  </li>
      	  <li class="p-1 nav-item">
        	<a th:href="@{/home/allelements}" class="btn btn-info active btn-block btn-lg" role="button" aria-pressed="true">Elementi</a>
      	  </li>
      	  <li class="p-1 nav-item">
        	<a th:href="@{/home/productsearch}" class="btn btn-success active btn-block btn-lg" role="button" aria-pressed="true">Proizvodi</a>
      	  </li>
    	</ul>
    	<span class="p-1 navbar-text">
      		<a th:href="@{/home/allorders}" class="btn btn-warning active btn-block btn-lg" role="button" aria-pressed="true">Pretraga Radnih Naloga</a>
    	</span>
  	  </div>
	</nav>
	
	    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
 <script ></script>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	</div>
 </body>
</html>