<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Furniture Mng App</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link th:href="@{/css/bootstrap-css.css}" rel="stylesheet" id="bootstrap-css">
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
 	<script th:src="@{js/bootstrap.min.js}"></script>
 	<script th:src="@{js/jquery-1.11.1.min.js}"></script>
 </head>

<body>
<div th:replace="fragments/header :: header"/></div>

<div class="container">

 <div class="p-3" align="center">
   <img class="resize" alt="no image" th:src="@{/images/hidrastill.png}">
 </div>
    
    <form th:action="@{/login}" method="POST">
    	
    	<div align="center">
    	    <h5>Welcome to Furniture Mng App</h5><br/>
    	</div>
    	
    	<div class="alert alert-success" align="center" role="alert" th:if="${message}">
			<span th:utext="${message}"></span>
    	</div>

        <input type="text" id="user_name" name="user_name" placeholder="Korisničko ime"
               class="form-control" required autofocus/> <br/>
        <input type="password" th:placeholder="Lozinka"
               id="password" name="password" class="form-control" required autofocus/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Pogrešno korisničko ime ili lozinka. Pokušajte ponovo.</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
    
    <div class="p-4">
       <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
			<form th:action="@{/forgot}" method="get">
    			<button class="btn btn-md btn-warning btn-block" type="Submit">Zaboravili ste vašu lozinku?</button><br/>
			</form>
		</div>
	</div>
</div>
        
</div>

 <div th:replace="fragments/footer :: footer"/></div>

</body>
</html>