<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- Registering new user in the database LoginController lines 32 and 43 -->
   <div th:replace="fragments/header :: header"/></div>
   
<div class="container">

   <div class="p-2">
		<form th:action="@{/}" method="get">
    		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
		</form>
	</div>
	
   <div class="p-2">	
		<h5>Forma Registracije</h5>
	</div>
	
	<h5><span class="text-success" th:utext="${successMessage}"></span></h5>
	
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                  
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Ime"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Prezime" class="form-control"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{role}"
                               placeholder="KLIJENT - CLIENT Role" class="form-control" readonly="readonly"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{userName}" placeholder="Korisničko ime"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Lozinka" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Registracija Korisnika</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

 <div th:replace="fragments/footer :: footer"/></div>
 
    <!-- JavaScript to enable use of browser back button which returns registration to beginning -->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>

</body>
</html>