<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga listi proizvoda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"/></div>

  <div class="container">
  
        <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
              <div th:if="${msg}" th:text="${msg}" class="alert alert-success" role="alert"></div> 
         </div>
       </div>
  
    <h5>Pretraga Listi Proizvoda</h5>
  
  <div class="card-deck mb-1 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
		<form th:action="@{/home/pipelinesearchid}" th:object="${sampleInputs}" method="post">
        		<input type="number" th:field="*{pipelineId}" placeholder="ID broj liste" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-info btn-block" type="submit" value="Traži listu po ID broju"/>      		
        		</div>
			</form>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
		<form th:action="@{/home/pipelinesearchkeyword}" th:object="${sampleInputs}" method="post">
        		<input type="text" th:field="*{keyWord}" placeholder="Kljucna rijec" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-warning btn-block" type="submit" value="Traži listu po kljucnoj rijeci"/>      		
        		</div>
			</form>
      </div>
    </div>
  </div>
 </div>

  <div class="container table-responsive" align="center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Broj</th>
                <th scope="col">Naziv</th>      
                <th scope="col">Status</th>        
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="pipeline, productStat : ${pipelines}">
                <td th:text="${pipeline.id}">ID</td>
                <td th:text="${pipeline.name}">Naziv</td>  
                <td th:object="${pipeline}">
                	<a th:href="@{'/home/orderpipeline/' + *{id}}" class="text-white btn " th:classappend="${pipeline.active} == 0 ? btn-danger : btn-success" th:text="${pipeline.active} == 0 ? 'U radnom nalogu' : 'U pripremi'"></a>
                </td>          
                <td th:object="${pipeline}">
                	<a class="btn btn-warning" th:href="@{'/home/pipelineprofile/' + *{id}}">Info</a>
                </td>       
            </tr>
        </tbody>
    </table>
  </div>  
  
      		    <!-- list of all pipelines pagination -->
<nav aria-label="Pagination" th:if="${pipelines.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${pipelines.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/home/allpipelines?page={id}(id=${pipelines.number lt 2 ? 1 : pipelines.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq pipelines.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( pipelines.number + 1, pipelines.totalPages > 10 + pipelines.number ? pipelines.number + 10 : pipelines.totalPages, 1)}">
            <a class="page-link" th:href="@{/home/allpipelines?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${pipelines.number + 10 < pipelines.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${pipelines.number + 1 eq pipelines.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/home/allpipelines?page={id}(id=${pipelines.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>

  		<div class="p-2" align="center">
    	 <a th:href="@{/home/allpipelines}" class="btn-info btn-lg" role="button" aria-pressed="true">Nova Pretraga Listi Proizvoda</a>
  		</div>
 <div th:replace="fragments/footer :: footer"/></div>
 
</body>
</html>