<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 	<title>Pretraga elemenata po ključnoj riječi</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- SEARCH AND DISPLAY ELEMENTS BY KEYWORD in SearchController line 268 -->
<div th:replace="fragments/header :: header"/></div>

   <div class="container">

   	<p><h5>Pretraga elemenata po ključnoj riječi:</h5><p>
      <p><b th:if="${msg}" th:text="${msg}" class="alert alert-success" role="alert"></b></p> 
      <p><b th:if="${err}" th:text="${err}" class="alert alert-danger" role="alert"></b></p>     
   
  <div class="card-deck mb-1 text-center">
    <div class="card mb-1 shadow-sm">
      <div class="card-body">
		<form th:action="@{/home/searchelement}" th:object="${sampleInputs}" method="post">
        		<input type="text" th:field="*{sifra}" placeholder="Sifra elementa" required autofocus/>
        		<div class="p-1">
      				<input class="btn btn-info btn-block" type="submit" value="Traži Elemente po Šifri"/>      		
        		</div>
			</form>
      </div>
    </div>
    <div class="card mb-1 shadow-sm">
      <div class="card-body">
		<form th:action="@{/home/searchelements}" th:object="${sampleInputs}" method="post">	
        		<input type="text" th:field="*{keyWord}" placeholder="Kljucna rijec" required autofocus/>
        		<div class="p-1">
      				<input class="btn btn-warning btn-block" type="submit" value="Traži Elemente po Ključnoj Riječi"/>      		
        		</div>
			</form>
      </div>
    </div>
  </div>
 </div>

  <div class="container table-responsive" align="center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Šifra</th>
                <th scope="col">Stanje</th>
                <th scope="col">Naziv</th>
                <th scope="col">Veličina</th>                
                <th scope="col">Jedinica Mjere</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="element, productStat : ${elementsList}">
                <td th:text="${element.sifra}">Sifra</td>
                <td>
                	<a class="text-white btn " th:classappend="${element.quantity} < 10 ? btn-danger : btn-success" th:text="${element.quantity}"></a>
                </td>
                <td th:text="${element.name}">Naziv</td>
                <td th:text="${element.elementSize}">Veličina</td>    
                <td th:text="${element.getUnitMeasure().getUnitMeasureName()}">Jedinica Mjere</td>   
                <td th:object="${element}">
                	<a class="btn btn-warning" th:href="@{'/home/elementprofile/' + *{id}}">Info</a>
                </td>       
            </tr>
        </tbody>
    </table>
  </div>  
  
    		    <!-- elements pagination -->
<nav aria-label="Pagination" th:if="${elementsList.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${elementsList.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/home/searchelements?page={id}(id=${elementsList.number lt 2 ? 1 : elementsList.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq elementsList.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( elementsList.number + 1, elementsList.totalPages > 10 + elementsList.number ? elementsList.number + 10 : elementsList.totalPages, 1)}">
            <a class="page-link" th:href="@{/home/searchelements?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${elementsList.number + 10 < elementsList.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${elementsList.number + 1 eq elementsList.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/home/searchelements?page={id}(id=${elementsList.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</nav>
  
   		<div class="p-3" align="center">
    	 <a th:href="@{/home/allelements}" class="btn-info btn-lg" role="button" aria-pressed="true">Nova Pretraga Elemenata</a>
  		</div>
  		
  		<div class="p-3" align="center">
    	 <a th:href="@{/admin/createelement}" class="btn-success btn-lg" role="button" aria-pressed="true">Kreiraj Novi Element</a>
  		</div>
 
 <div th:replace="fragments/footer :: footer"/></div>
 
  <!-- JavaScript to enable use of browser back button which returns element search to beginning -->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
 
</body>
</html>