<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Lista radnih naloga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

</head>
<body>

<div th:replace="fragments/header :: header"/></div>

      <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
         </div>
       </div>
       
  <div class="container">
  <div class="card-deck mb-1 text-center">
    <div class="card mb-1 shadow-sm">
      <div class="card-header">
        <p class="my-0 font-weight-normal"><b>ID Broj Radnog Naloga</b></p>
      </div>
      <div class="card-body">
		<form th:action="@{/home/ordersearchid}" th:object="${sampleInputs}" method="post">
        		<input type="number" th:field="*{id}" placeholder="ID broj radnog naloga" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-info btn-block" type="submit" value="Traži"/>      		
        		</div>
			</form>
      </div>
    </div>
    <div class="card mb-1 shadow-sm">
      <div class="card-header">
        <p class="my-0 font-weight-normal"><b>ID Broj Liste Proizvoda</b></p>
      </div>
      <div class="card-body">
		<form th:action="@{/home/ordersearchpipelineid}" th:object="${sampleInputs}" method="post">
        		<input type="number" th:field="*{id}" placeholder="ID broj liste proizvoda" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-warning btn-block" type="submit" value="Traži"/>      		
        		</div>
			</form>
      </div>
    </div>
    <div class="card mb-1 shadow-sm">
      <div class="card-header">
        <p class="my-0 font-weight-normal"><b>Datum Radnog Naloga</b></p>
      </div>
      <div class="card-body">
		<form th:action="@{/home/searchorderdate}" th:object="${sampleInputs}" method="post">
        		<input width="276" th:field="*{searchDate}" type="text" class="form-control" id="date" name="date" data-date-format="dd/mm/yyyy" placeholder="Datum radnog naloga" required autofocus></input>
        		<div class="p-3">
      				<input class="btn btn-danger btn-block" type="submit" value="Traži"/>      		
        		</div>
			</form>
      </div>
    </div>
  </div>
 </div>

  <div class="container table-responsive" align="center">
 
 <div class="p-2" align="center">
   <p><b th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></b></p> 
 </div>
 
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Broj</th>
                <th scope="col">Datum</th>
                <th scope="col">Radna Pozicija</th>
                <th scope="col">ID Liste</th>  
                <th scope="col">Detalji</th>                                
            </tr>
        </thead>
        <tbody>
            <tr scope="row" th:each="order, orderStat : ${ordersList}">
                <td th:text="${order.id}">ID</td>
                <td th:text="${#dates.format(order.created, 'dd-MM-yyyy HH:mm')}">Date</td>
                <td th:text="${order.workPosition}">Radna Pozicija</td>
                <td th:text="${order.getPipeline().getId()}">ID Liste</td>                
                <td th:object="${order}">
                	<a class="btn btn-warning" th:href="@{'/home/orderprofile/' + *{id}}">Info</a>
                </td>       
            </tr>
        </tbody>
    </table>
  </div>  
  		<div class="p-2" align="center">
    	 <a th:href="@{/home/allorders}" class="btn-info btn-lg" role="button" aria-pressed="true">Nova Pretraga Radnih Naloga</a>
  		</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script>
        $('#date').datepicker({ dateFormat: 'dd-mm-yy' })
</script>
  		
 <div th:replace="fragments/footer :: footer"/></div>

</body>
</html>