<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Pretraga Auto Dijelova</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>

<div th:include="fragments/header :: header"/></div>

 <div class="container">
 
       <div class="row">
          <div class="col-md-12">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
         </div>
       </div>
  	</div>
  	      
      <div class="row">
         <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="alert alert-danger" role="alert" th:if="${err}" th:utext="${err}"></div>
         </div>
       </div>
  		
<div class="pricing-header mx-auto text-center">
<div class="p-3">

           <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                <div class="form-group">
           		<a th:href="@{/home/allproducts}" class="btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Pregled Postojećih Proizvoda</a>
             	</div>
             </div>
         </div>

  <h5>Pretraga Proizvoda</h5>

  <div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Unesite ID Broj</h5>
      </div>
      <div class="card-body">
		<form th:action="@{/home/productsearchid}" th:object="${sampleInputs}" method="post">
        		<input type="number" th:field="*{id}" placeholder="ID broj proizvoda" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-info btn-block btn-lg" type="submit" value="Traži"/>      		
        		</div>
			</form>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Unesite Ključnu Riječ</h5>
      </div>
      <div class="card-body">
		<form th:action="@{/home/productsearchkeyword}" th:object="${sampleInputs}" method="post">
        		<input type="text" th:field="*{keyWord}" placeholder="Kljucna rijec" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-warning btn-block btn-lg" type="submit" value="Traži"/>      		
        		</div>
			</form>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Unesite Naziv Proizvoda</h5>
      </div>
      <div class="card-body">
		<form th:action="@{/home/searchproductname}" th:object="${sampleInputs}" method="post">
        		<input type="text" th:field="*{name}" placeholder="naziv" required autofocus/>
        		<div class="p-3">
      				<input class="btn btn-danger btn-block btn-lg" type="submit" value="Traži"/>      		
        		</div>
			</form>
      </div>
    </div>
  </div>
 
 </div>
 
      <div th:include="fragments/footer :: footer"/></div>
      
 <!-- JavaScript to enable use of browser back button which returns user product search beginning -->
 <script type="text/javascript">
 	if ( window.history.replaceState ) {
	 	 window.history.replaceState( null, null, window.location.href );
		}
 </script>
</body>
</html>